/* 
 * Datapath layout file for LS2085A.
 * Contains 4 containers-- one for host Linux, two for NADK & one for AIOP
 *
 * Copyright 2013 Freescale Semiconductor, Inc.
 */

/dts-v1/;
/ {	
	containers {
		icid_pool {
			compatible = "icid-pool";
			num = <100>;
			base_icid = <0>;
		};
		dprc@1 {
			compatible = "fsl,dprc";
			parent = "none"; 
			icid = <1>;
			options = "DPRC_CFG_OPT_SPAWN_ALLOWED" , "DPRC_CFG_OPT_ALLOC_ALLOWED";
			portal_id = <0>;
			resources {
				res@1 {
					type = "mcp";
					num = <1>;
					options = <1>;
					id_base_align = <15>;
				};
				res@2 {
					type = "mcp";
					num = <1>;
					options = <1>;
					id_base_align = <16>;
				};
				res@3 {
					type = "mcp";
					num = <1>;
					options = <1>;
					id_base_align = <17>;
				};
				res@4 {
					type = "mcp";
					num = <1>;
					options = <1>;
					id_base_align = <18>;
				};
				res@5 {
					type = "mcp";
					num = <1>;
					options = <1>;
					id_base_align = <19>;
				};
			};
			objects {
				obj@1{
					obj_name = "dpni@1";
				};
				obj@2{
					obj_name = "dpbp@1";
				};
				obj@3{
					obj_name = "dpio@1";
				};
				obj@4{
					obj_name = "dpni@2";
				};
				obj@5{
					obj_name = "dpbp@2";
				};
				obj@6{
					obj_name = "dpio@2";
				};
				obj@7{
					obj_name = "dpni@3";
				};
				obj@8{
					obj_name = "dpbp@3";
				};
				obj@9{
					obj_name = "dpio@3";
				};
				obj@10{
					obj_name = "dpni@4";
				};
				obj@11{
					obj_name = "dpbp@4";
				};
				obj@12{
					obj_name = "dpio@4";
				};
			};
		};

		dprc@2 {
			compatible = "fsl,dprc";
			parent = "dprc@1";
			icid = <2>;
			options = "DPRC_CFG_OPT_SPAWN_ALLOWED", "DPRC_CFG_OPT_ALLOC_ALLOWED";
			portal_id = <0x5>;

			resources {

				res@1 {
					type = "mcp";
					num = <0x1>;
					options = <0x1>;
					id_base_align = <0x2>;
				};
			};

			objects {

				obj@1 {
					obj_name = "dpni@5";
				};

				obj@2 {
					obj_name = "dpbp@5";
				};

				obj@3 {
					obj_name = "dpio@5";
				};

				obj@4 {
					obj_name = "dpio@6";
				};

				obj@5{
					obj_name = "dpci@2";
				};

				obj@6{
					obj_name = "dpci@0";
				};

			};
		};

		dprc@3 {
			compatible = "fsl,dprc";
			parent = "dprc@1";
			icid = <4>;
			options = "DPRC_CFG_OPT_SPAWN_ALLOWED" , "DPRC_CFG_OPT_ALLOC_ALLOWED" , "DPRC_CFG_OPT_AIOP" , "DPRC_CFG_OPT_OBJECT_CREATE_ALLOWED";
			portal_id = <0x1>;
			objects {
				obj@1{
					obj_name = "dpni@10";
				};
				obj@2{
					obj_name = "dpbp@0";
				};
				obj@3{
					obj_name = "dpni@11";
				};
				obj@4{
					obj_name = "dpbp@7";
				};
				obj@5{
					obj_name = "dpbp@8";
				};
				obj@6{
					obj_name = "dpbp@9";
				};
				obj@7{
					obj_name = "dpbp@10";
				};
				obj@8{
					obj_name = "dpbp@11";
				};
				obj@9{
					obj_name = "dpbp@12";
				};
				obj@10{
					obj_name = "dpbp@13";
				};
				obj@11{
					obj_name = "dpbp@14";
				};
				obj@12{
					obj_name = "dpbp@15";
				};
				obj@13{
					obj_name = "dpbp@16";
				};
				obj@14{
					obj_name = "dpbp@17";
				};
				obj@15{
					obj_name = "dpci@3";
				};
				obj@16{
					obj_name = "dpci@1";
				};
			};
		};

		dprc@4 {
			compatible = "fsl,dprc";
			parent = "dprc@1";
			icid = <3>;
			options = "DPRC_CFG_OPT_SPAWN_ALLOWED", "DPRC_CFG_OPT_ALLOC_ALLOWED";
			portal_id = <0x3>;

			resources {

				res@1 {
					type = "mcp";
					num = <0x1>;
					options = <0x1>;
					id_base_align = <0x4>;
				};
			};

			objects {

				obj@1 {
					obj_name = "dpni@6";
				};

				obj@2 {
					obj_name = "dpni@7";
				};

				obj@3 {
					obj_name = "dpni@8";
				};

				obj@4 {
					obj_name = "dpni@9";
				};

				obj@5 {
					obj_name = "dpbp@6";
				};

				obj@6 {
					obj_name = "dpio@7";
				};

				obj@7 {
					obj_name = "dpio@8";
				};

				obj@8 {
					obj_name = "dpio@9";
				};

				obj@9 {
					obj_name = "dpio@10";
				};
			};
		};
	};

	objects {
		dpio@1 {
			compatible = "fsl,dpio";
			channel_mode = "DPIO_LOCAL_CHANNEL";
			num_priorities = <8>;
		};
		dpbp@1 {
			compatible = "fsl,dpbp";
		};
		dpni@1{
			compatible = "fsl,dpni";
			type = "DPNI_TYPE_NIC";
			mac_addr = <0x02 0x00 0xc0 0xa8 0x47 0x01>;
			max_senders = <0>;
			options = "DPNI_OPT_MULTICAST_FILTER";
			max_tcs = <0>;
			max_dist_per_tc = <0 0 0>;
			max_unicast_filters = <0>;
			max_multicast_filters = <1>;
			max_vlan_filters = <0>;
			max_qos_entries = <0>;
			max_qos_key_size = <0>;
			max_dist_key_size = <0>;
		};
		dpio@2 {
			compatible = "fsl,dpio";
			channel_mode = "DPIO_LOCAL_CHANNEL";
			num_priorities = <8>;
		};
		dpbp@2 {
			compatible = "fsl,dpbp";
			buffer_size = <512>;
		};
		dpni@2 {
			compatible = "fsl,dpni";
			type = "DPNI_TYPE_NIC";
			mac_addr = <0x02 0x00 0xc0 0xa8 0x47 0x02>;
			max_senders = <1>;
			options = "DPNI_OPT_MULTICAST_FILTER";
			max_tcs = <1>;
			max_dist_per_tc = <1 0 0>;
			max_unicast_filters = <0>;
			max_multicast_filters = <16>;
			max_vlan_filters = <0>;
			max_qos_entries = <0>;
			max_qos_key_size = <0>;
			max_dist_key_size = <0>;
		};
		dpio@3 {
			compatible = "fsl,dpio";
			channel_mode = "DPIO_LOCAL_CHANNEL";
			num_priorities = <8>;
		};
		dpbp@3 {
			compatible = "fsl,dpbp";
			buffer_size = <512>;
		};
		dpni@3 {
			compatible = "fsl,dpni";
			type = "DPNI_TYPE_NIC";
			mac_addr = <0x02 0x00 0xc0 0xa8 0x47 0x03>;
			max_senders = <1>;
			options = "DPNI_OPT_MULTICAST_FILTER";
			max_tcs = <1>;
			max_dist_per_tc = <1 0 0>;
			max_unicast_filters = <0>;
			max_multicast_filters = <16>;
			max_vlan_filters = <0>;
			max_qos_entries = <0>;
			max_qos_key_size = <0>;
			max_dist_key_size = <0>;
		};
		dpio@4 {
			compatible = "fsl,dpio";
			channel_mode = "DPIO_LOCAL_CHANNEL";
			num_priorities = <8>;
		};
		dpbp@4 {
			compatible = "fsl,dpbp";
			buffer_size = <512>;
		};
		dpni@4 {
			compatible = "fsl,dpni";
			type = "DPNI_TYPE_NIC";
			mac_addr = <0x02 0x00 0xc0 0xa8 0x47 0x04>;
			max_senders = <1>;
			options = "DPNI_OPT_MULTICAST_FILTER";
			max_tcs = <1>;
			max_dist_per_tc = <1 0 0>;
			max_unicast_filters = <0>;
			max_multicast_filters = <16>;
			max_vlan_filters = <0>;
			max_qos_entries = <0>;
			max_qos_key_size = <0>;
			max_dist_key_size = <0>;
		};

		dpio@5 {
			compatible = "fsl,dpio";
			channel_mode = "DPIO_LOCAL_CHANNEL";
			num_priorities = <0x8>;
		};

		dpio@6 {
			compatible = "fsl,dpio";
			channel_mode = "DPIO_LOCAL_CHANNEL";
			num_priorities = <0x8>;
		};

		dpio@7 {
			compatible = "fsl,dpio";
			channel_mode = "DPIO_LOCAL_CHANNEL";
			num_priorities = <0x8>;
		};

		dpio@8 {
			compatible = "fsl,dpio";
			channel_mode = "DPIO_LOCAL_CHANNEL";
			num_priorities = <0x8>;
		};

		dpio@9 {
			compatible = "fsl,dpio";
			channel_mode = "DPIO_LOCAL_CHANNEL";
			num_priorities = <0x8>;
		};

		dpio@10 {
			compatible = "fsl,dpio";
			channel_mode = "DPIO_LOCAL_CHANNEL";
			num_priorities = <0x8>;
		};

		dpbp@5 {
			compatible = "fsl,dpbp";
		};

		dpbp@6 {
			compatible = "fsl,dpbp";
		};

		dpni@5 {
			compatible = "fsl,dpni";
			type = "DPNI_TYPE_NIC";
			mac_addr = <0x0 0x0 0x0 0x0 0x0 0x5>;
			max_senders = <0x0>;
			options = <0x0>;
			max_tcs = <0x0>;
			max_dist_per_tc = <0x0 0x0 0x0>;
			max_unicast_filters = <0x0>;
			max_multicast_filters = <0x0>;
			max_vlan_filters = <0x0>;
			max_qos_entries = <0x0>;
			max_qos_key_size = <0x0>;
			max_dist_key_size = <0x0>;
		};

		dpni@6 {
			compatible = "fsl,dpni";
			type = "DPNI_TYPE_NIC";
			mac_addr = <0x0 0x0 0x0 0x0 0x0 0x6>;
			max_senders = <0x0>;
			options = <0x0>;
			max_tcs = <0x0>;
			max_dist_per_tc = <0x0 0x0 0x0>;
			max_unicast_filters = <0x0>;
			max_multicast_filters = <0x0>;
			max_vlan_filters = <0x0>;
			max_qos_entries = <0x0>;
			max_qos_key_size = <0x0>;
			max_dist_key_size = <0x0>;
		};

		dpni@7 {
			compatible = "fsl,dpni";
			type = "DPNI_TYPE_NIC";
			mac_addr = <0x0 0x0 0x0 0x0 0x0 0x7>;
			max_senders = <0x0>;
			options = <0x0>;
			max_tcs = <0x0>;
			max_dist_per_tc = <0x0 0x0 0x0>;
			max_unicast_filters = <0x0>;
			max_multicast_filters = <0x0>;
			max_vlan_filters = <0x0>;
			max_qos_entries = <0x0>;
			max_qos_key_size = <0x0>;
			max_dist_key_size = <0x0>;
		};

		dpni@8 {
			compatible = "fsl,dpni";
			type = "DPNI_TYPE_NIC";
			mac_addr = <0x0 0x0 0x0 0x0 0x0 0x8>;
			max_senders = <0x0>;
			options = <0x0>;
			max_tcs = <0x0>;
			max_dist_per_tc = <0x0 0x0 0x0>;
			max_unicast_filters = <0x0>;
			max_multicast_filters = <0x0>;
			max_vlan_filters = <0x0>;
			max_qos_entries = <0x0>;
			max_qos_key_size = <0x0>;
			max_dist_key_size = <0x0>;
		};

		dpni@9 {
			compatible = "fsl,dpni";
			type = "DPNI_TYPE_NIC";
			mac_addr = <0x0 0x0 0x0 0x0 0x0 0x9>;
			max_senders = <0x0>;
			options = <0x0>;
			max_tcs = <0x0>;
			max_dist_per_tc = <0x0 0x0 0x0>;
			max_unicast_filters = <0x0>;
			max_multicast_filters = <0x0>;
			max_vlan_filters = <0x0>;
			max_qos_entries = <0x0>;
			max_qos_key_size = <0x0>;
			max_dist_key_size = <0x0>;
		};

		dpni@10{
			compatible = "fsl,dpni";
			type = "DPNI_TYPE_NIC";
			mac_addr = < 0x0 0x0 0x1 0x0 0x0 0x1 >;
			max_senders = <0>;
			options = "DPNI_OPT_MULTICAST_FILTER" , "DPNI_OPT_UNICAST_FILTER";
			max_tcs = <0>;
			max_dist_per_tc = < 0 0 0 0 0 0 0 0 >;
			max_unicast_filters = <0>;
			max_multicast_filters = <0>;
			max_vlan_filters = <0>;
			max_qos_entries = <0>;
			max_qos_key_size = <0>;
			max_dist_key_size = <0>;
		};

		dpni@11{
			compatible = "fsl,dpni";
			type = "DPNI_TYPE_NIC";
			mac_addr = < 0x0 0x0 0x2 0x0 0x0 0x2 >;
			max_senders = <0>;
			options = "DPNI_OPT_MULTICAST_FILTER" , "DPNI_OPT_UNICAST_FILTER";
			max_tcs = <0>;
			max_dist_per_tc = < 0 0 0 0 0 0 0 0 >;
			max_unicast_filters = <0>;
			max_multicast_filters = <0>;
			max_vlan_filters = <0>;
			max_qos_entries = <0>;
			max_qos_key_size = <0>;
			max_dist_key_size = <0>;
		};

		dpbp@0 {
			compatible = "fsl,dpbp";
		};

		dpbp@7 {
			compatible = "fsl,dpbp";
		};

		dpbp@8 {
			compatible = "fsl,dpbp";
		};

		dpbp@9 {
			compatible = "fsl,dpbp";
		};

		dpbp@10 {
			compatible = "fsl,dpbp";
		};

		dpbp@11 {
			compatible = "fsl,dpbp";
		};

		dpbp@12 {
			compatible = "fsl,dpbp";
		};

		dpbp@13 {
			compatible = "fsl,dpbp";
		};

		dpbp@14 {
			compatible = "fsl,dpbp";
		};

		dpbp@15 {
			compatible = "fsl,dpbp";
		};

		dpbp@16 {
			compatible = "fsl,dpbp";
		};

		dpbp@17 {
			compatible = "fsl,dpbp";
		};

		dpci@0{
			compatible = "fsl,dpci";
			num_of_priorities = <2>;
		};
		dpci@1{
			compatible = "fsl,dpci";
			num_of_priorities = <2>;
		};

		dpci@2{
			compatible = "fsl,dpci";
			num_of_priorities = <2>;
		};
		dpci@3{
			compatible = "fsl,dpci";
			num_of_priorities = <2>;
		};

	};

	links {
		link@1{
			obj = "dpni@1";
			peer = "dpmac@1";
		};
		link@2{
			obj = "dpni@2";
			peer = "dpmac@2";
		};
		link@3{
			obj = "dpni@3";
			peer = "dpmac@3";
		};
		link@4{
			obj = "dpni@4";
			peer = "dpmac@4";
		};
		link@5{
			obj = "dpni@5";
			peer = "dpmac@5";
		};
		link@6{
			obj = "dpni@6";
			peer = "dpmac@6";
		};
		link@7{
			obj = "dpni@7";
			peer = "dpmac@7";
		};
		link@8{
			obj = "dpni@8";
			peer = "dpmac@8";
		};
		link@9{
			obj = "dpni@9";
			peer = "dpmac@9";
		};
		link@10 {
			obj = "dpni@10";
			peer = "dpmac@10";
		};
		link@11 {
			obj = "dpni@11";
			peer = "dpmac@11";
		};
		link@12 {
			obj = "dpci@2";
			peer = "dpci@3";
		};
		link@13 {
			obj = "dpci@0";
			peer = "dpci@1";
		};
	};
};
