/* 
 * Datapath layout file for LS2085A.
 * Contains 2 containers-- one for host Linux, one for NADK
 *
 * Copyright 2013 Freescale Semiconductor, Inc.
 */

/dts-v1/;
/ {	
	containers {
		icid_pool {
			compatible = "icid-pool";
			num = <100>;
			base_icid = <0>;
		};
		dprc@1 {
			compatible = "fsl,dprc";
			parent = "none"; 
			icid = <1>;
			options = "DPRC_CFG_OPT_SPAWN_ALLOWED" , "DPRC_CFG_OPT_ALLOC_ALLOWED";
			portal_id = <0>;
			resources {
				res@1 {
					type = "mcp";
					num = <1>;
					options = <1>;
					id_base_align = <15>;
				};
				res@2 {
					type = "mcp";
					num = <1>;
					options = <1>;
					id_base_align = <16>;
				};
				res@3 {
					type = "mcp";
					num = <1>;
					options = <1>;
					id_base_align = <17>;
				};
				res@4 {
					type = "mcp";
					num = <1>;
					options = <1>;
					id_base_align = <18>;
				};
				res@5 {
					type = "mcp";
					num = <1>;
					options = <1>;
					id_base_align = <19>;
				};
			};
			objects {
				obj@1{
					obj_name = "dpni@1";
				};
				obj@2{
					obj_name = "dpbp@1";
				};
				obj@3{
					obj_name = "dpio@1";
				};
				obj@4{
					obj_name = "dpni@2";
				};
				obj@5{
					obj_name = "dpbp@2";
				};
				obj@6{
					obj_name = "dpio@2";
				};
				obj@7{
					obj_name = "dpni@3";
				};
				obj@8{
					obj_name = "dpbp@3";
				};
				obj@9{
					obj_name = "dpio@3";
				};
				obj@10{
					obj_name = "dpni@4";
				};
				obj@11{
					obj_name = "dpbp@4";
				};
				obj@12{
					obj_name = "dpio@4";
				};
			};
		};

		/*
		 * Creating DPRC '2' & '4' for NADK usage.
		 * DPRC@3 is left to be used for AIOP requirements.
		 */

		dprc@2 {
			compatible = "fsl,dprc";
			parent = "dprc@1";
			options = "DPRC_CFG_OPT_SPAWN_ALLOWED", "DPRC_CFG_OPT_ALLOC_ALLOWED";
			portal_id = <0x1>;

			resources {

				res@1 {
					type = "mcp";
					num = <0x1>;
					options = <0x1>;
					id_base_align = <0x2>;
				};
			};

			objects {

				obj@1 {
					obj_name = "dpni@5";
				};

				obj@2 {
					obj_name = "dpbp@5";
				};

				obj@3 {
					obj_name = "dpio@5";
				};

				obj@4 {
					obj_name = "dpio@6";
				};
			};
		};


		dprc@4 {
			compatible = "fsl,dprc";
			parent = "dprc@1";
			options = "DPRC_CFG_OPT_SPAWN_ALLOWED", "DPRC_CFG_OPT_ALLOC_ALLOWED";
			portal_id = <0x3>;

			resources {

				res@1 {
					type = "mcp";
					num = <0x1>;
					options = <0x1>;
					id_base_align = <0x4>;
				};
			};

			objects {

				obj@1 {
					obj_name = "dpni@6";
				};

				obj@2 {
					obj_name = "dpni@7";
				};

				obj@3 {
					obj_name = "dpni@8";
				};

				obj@4 {
					obj_name = "dpni@9";
				};

				obj@5 {
					obj_name = "dpbp@6";
				};

				obj@6 {
					obj_name = "dpio@7";
				};

				obj@7 {
					obj_name = "dpio@8";
				};

				obj@8 {
					obj_name = "dpio@9";
				};

				obj@9 {
					obj_name = "dpio@10";
				};
			};
		};
	};

	objects {
		dpio@1 {
			compatible = "fsl,dpio";
			channel_mode = "DPIO_LOCAL_CHANNEL";
			num_priorities = <8>;
		};
		dpbp@1 {
			compatible = "fsl,dpbp";
			buffer_size = <512>;
		};
		dpni@1{
			compatible = "fsl,dpni";
			type = "DPNI_TYPE_NIC";
			mac_addr = <0x02 0x00 0xc0 0xa8 0x47 0x01>;
			max_senders = <0>;
			options = <0>;
			max_tcs = <0>;
			max_dist_per_tc = <0 0 0>;
			max_vlan_filters = <0>;
			max_qos_entries = <0>;
			max_qos_key_size = <0>;
			max_dist_key_size = <0>;
		};
		dpio@2 {
			compatible = "fsl,dpio";
			channel_mode = "DPIO_LOCAL_CHANNEL";
			num_priorities = <8>;
		};
		dpbp@2 {
			compatible = "fsl,dpbp";
			buffer_size = <512>;
		};
		dpni@2 {
			compatible = "fsl,dpni";
			type = "DPNI_TYPE_NIC";
			mac_addr = <0x02 0x00 0xc0 0xa8 0x47 0x02>;
			max_senders = <1>;
			options = <0>;
			max_tcs = <1>;
			max_dist_per_tc = <1 0 0>;
			max_vlan_filters = <0>;
			max_qos_entries = <0>;
			max_qos_key_size = <0>;
			max_dist_key_size = <0>;
		};
		dpio@3 {
			compatible = "fsl,dpio";
			channel_mode = "DPIO_LOCAL_CHANNEL";
			num_priorities = <8>;
		};
		dpbp@3 {
			compatible = "fsl,dpbp";
			buffer_size = <512>;
		};
		dpni@3 {
			compatible = "fsl,dpni";
			type = "DPNI_TYPE_NIC";
			mac_addr = <0x02 0x00 0xc0 0xa8 0x47 0x03>;
			max_senders = <1>;
			options = <0>;
			max_tcs = <1>;
			max_dist_per_tc = <1 0 0>;
			max_vlan_filters = <0>;
			max_qos_entries = <0>;
			max_qos_key_size = <0>;
			max_dist_key_size = <0>;
		};
		dpio@4 {
			compatible = "fsl,dpio";
			channel_mode = "DPIO_LOCAL_CHANNEL";
			num_priorities = <8>;
		};
		dpbp@4 {
			compatible = "fsl,dpbp";
			buffer_size = <512>;
		};
		dpni@4 {
			compatible = "fsl,dpni";
			type = "DPNI_TYPE_NIC";
			mac_addr = <0x02 0x00 0xc0 0xa8 0x47 0x04>;
			max_senders = <1>;
			options = <0>;
			max_tcs = <1>;
			max_dist_per_tc = <1 0 0>;
			max_vlan_filters = <0>;
			max_qos_entries = <0>;
			max_qos_key_size = <0>;
			max_dist_key_size = <0>;
		};

		dpio@5 {
			compatible = "fsl,dpio";
			channel_mode = "DPIO_LOCAL_CHANNEL";
			num_priorities = <0x8>;
		};

		dpio@6 {
			compatible = "fsl,dpio";
			channel_mode = "DPIO_LOCAL_CHANNEL";
			num_priorities = <0x8>;
		};

		dpio@7 {
			compatible = "fsl,dpio";
			channel_mode = "DPIO_LOCAL_CHANNEL";
			num_priorities = <0x8>;
		};

		dpio@8 {
			compatible = "fsl,dpio";
			channel_mode = "DPIO_LOCAL_CHANNEL";
			num_priorities = <0x8>;
		};

		dpio@9 {
			compatible = "fsl,dpio";
			channel_mode = "DPIO_LOCAL_CHANNEL";
			num_priorities = <0x8>;
		};

		dpio@10 {
			compatible = "fsl,dpio";
			channel_mode = "DPIO_LOCAL_CHANNEL";
			num_priorities = <0x8>;
		};

		dpbp@5 {
			compatible = "fsl,dpbp";
		};

		dpbp@6 {
			compatible = "fsl,dpbp";
		};

		dpni@5 {
			compatible = "fsl,dpni";
			type = "DPNI_TYPE_NIC";
			mac_addr = <0x0 0x0 0x0 0x0 0x0 0x5>;
			max_senders = <0x0>;
			options = <0x0>;
			max_tcs = <0x0>;
			max_dist_per_tc = <0x0 0x0 0x0>;
			max_vlan_filters = <0x0>;
			max_qos_entries = <0x0>;
			max_qos_key_size = <0x0>;
			max_dist_key_size = <0x0>;
		};

		dpni@6 {
			compatible = "fsl,dpni";
			type = "DPNI_TYPE_NIC";
			mac_addr = <0x0 0x0 0x0 0x0 0x0 0x6>;
			max_senders = <0x0>;
			options = <0x0>;
			max_tcs = <0x0>;
			max_dist_per_tc = <0x0 0x0 0x0>;
			max_vlan_filters = <0x0>;
			max_qos_entries = <0x0>;
			max_qos_key_size = <0x0>;
			max_dist_key_size = <0x0>;
		};

		dpni@7 {
			compatible = "fsl,dpni";
			type = "DPNI_TYPE_NIC";
			mac_addr = <0x0 0x0 0x0 0x0 0x0 0x7>;
			max_senders = <0x0>;
			options = <0x0>;
			max_tcs = <0x0>;
			max_dist_per_tc = <0x0 0x0 0x0>;
			max_vlan_filters = <0x0>;
			max_qos_entries = <0x0>;
			max_qos_key_size = <0x0>;
			max_dist_key_size = <0x0>;
		};

		dpni@8 {
			compatible = "fsl,dpni";
			type = "DPNI_TYPE_NIC";
			mac_addr = <0x0 0x0 0x0 0x0 0x0 0x8>;
			max_senders = <0x0>;
			options = <0x0>;
			max_tcs = <0x0>;
			max_dist_per_tc = <0x0 0x0 0x0>;
			max_vlan_filters = <0x0>;
			max_qos_entries = <0x0>;
			max_qos_key_size = <0x0>;
			max_dist_key_size = <0x0>;
		};

		dpni@9 {
			compatible = "fsl,dpni";
			type = "DPNI_TYPE_NIC";
			mac_addr = <0x0 0x0 0x0 0x0 0x0 0x9>;
			max_senders = <0x0>;
			options = <0x0>;
			max_tcs = <0x0>;
			max_dist_per_tc = <0x0 0x0 0x0>;
			max_vlan_filters = <0x0>;
			max_qos_entries = <0x0>;
			max_qos_key_size = <0x0>;
			max_dist_key_size = <0x0>;
		};
	};
	links {
		link@1{
			obj = "dpni@1";
			peer = "dpmac@1";
		};
		link@2{
			obj = "dpni@2";
			peer = "dpmac@2";
		};
		link@3{
			obj = "dpni@3";
			peer = "dpmac@3";
		};
		link@4{
			obj = "dpni@4";
			peer = "dpmac@4";
		};
		link@5{
			obj = "dpni@5";
			peer = "dpmac@5";
		};
		link@6{
			obj = "dpni@6";
			peer = "dpmac@6";
		};
		link@7{
			obj = "dpni@7";
			peer = "dpmac@7";
		};
		link@8{
			obj = "dpni@8";
			peer = "dpmac@8";
		};
		link@9{
			obj = "dpni@9";
			peer = "dpmac@9";
		};
	};
};
